:root{

    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
  
  }
  
  
  
  html{
    font-size: 62.5%;
  }
  body {
    font-size: 16px;
  }
  .titulo{
    text-align: center;
    font-size: 3.8rem;
  
  
  }
  .titulo span{
    font-size: 2rem;
  
  }
  /*.navegacion-principal{
    background-color: var(--secundario);
    
  
  }*/
  
  .nav-bg{
    background-color: var(--secundario);
  }
  .contenedor{
    width: 120rem;
   /*Una manera de poner los 4 margenes en 4 propiedades
    margin-top: 0;
    margin-bottom:  0;
    margin-right: auto;*/
    /*margin: 0 auto 0 auto ;  tomando las posiciones del reloj*/
    margin:0 auto; /*El primer valor corresponde a top-bottom y el segundo valor corrresponde a right-left */
    
  }
  .navegacion-principal a{

    background-color: null;
  
  }
  /*Displaying block orizontal-inline es verticar*/
  .navegacion-principal{
    padding: 1rem;
    display: flex;
    /*  justifi content es para filas
    align-items es para columnas flex-direction
    */
    justify-content: space-around;
    font-size: 2rem;
    font-weight: bold; /* negritas*/

  }
  
  .navegacion-principal a{
        padding: 1rem;
    color:var(--blanco);
    text-decoration:none;
  }
  /*sentrar el nav y investigar que es flex box*/
  

  .navegacion-principal a:hover{

    background-color: var(--primario);

  }
body{
  background-color: beige;
}
  @media (min-width: 480px) {
    body{
      background-color: blue;
    }
  }

  @media (min-width: 780px) {
    body{
      background-color: cornflowerblue;
    }
  }
 